<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="mojaKonekcija" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\WW\Desktop\SchooL Tester Upgrade\SchoolTester application with CSS\SchoolTester\App_Data\SchoolDatabase.mdf;Integrated Security=True;User Instance=True"  />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <sessionState timeout="45"></sessionState>   
  </system.web>
  <!--
  komentariiii
  -->
</configuration>